.search {
    position: absolute;
    top: 35px;
    left: 25%;
    width: 100vw;
}

.search > h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 559px;
    padding: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 340px;
}

.search > input:focus {
    outline-width: 0;
}

.search > button {
    position: absolute;
    left: 0;
    top: 390px;
    text-transform: inherit !important;
    background-color: #5ce1e6;
    color: #408b8e;
    width: 579px;
    border-radius: 0;
}

.search > button:hover {
    background-color: #5ce1e6;
    color: #408b8e;
}